apiVersion: v1
kind: ServiceAccount
metadata:
  name: api-gateway-sa
  namespace: ai-gateway
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: api-gateway-role
  namespace: ai-gateway
rules:
- apiGroups: [""]
  resources: ["configmaps", "secrets"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: api-gateway-RoleBinding
  namespace: ai-gateway
subjects:
- kind: ServiceAccount
  name: api-gateway-sa
  namespace: ai-gateway
roleRef:
  kind: Role
  name: api-gateway-role
  apiGroup: rbac.authorization.k8s.io