apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: ai-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: ai-gateway:v6
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          env:
            - name: APP_REDIS_HOST
              value: "redis"